{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}Modifier un Post{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier un Post</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}

        <a href="{{ path('app_posts') }}" class="btn btn-secondary">Retour à la liste des posts</a>
    </div>
{% endblock %}
