{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block title %}Liste des Posts{% endblock %}
{% block body %}
    <div class="container">
        <h1>Liste des Posts</h1>
        <a href="{{ path('app_create_post') }}" class="btn btn-primary">Créer un nouveau post</a>

        <div class="post-container">
            {% for post in posts %}
                <div class="post-card">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <a href="{{ path('app_show_post', {'id': post.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_edit_post', {'id': post.id}) }}" class="btn btn-warning">Modifier</a>
                </div>
                <div style="margin-bottom: 10px;"></div> {# Ajoutez une marge en bas de chaque carte de post #}
            {% endfor %}
        </div>

        <div class="custom-pagination">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
