{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}Détail du Post{% endblock %}

{% block body %}
    <div class="container">
        <h1>Détail du Post</h1>
        <div class="post-card">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>

            <div class="post-card-buttons">
                {# Bouton pour la modification du post #}
                <a href="{{ path('app_edit_post', {'id': post.id}) }}" class="btn btn-warning">Modifier le Post</a>

                {# Bouton pour la suppression du post #}
                <a href="{{ path('app_delete_post', {'id': post.id}) }}" class="btn btn-danger">Supprimer le Post</a>
            </div>
        </div>
        <a href="{{ path('app_posts') }}" class="btn btn-primary">Retour à la liste des posts</a>
    </div>
{% endblock %}
